/* classes */
P.centertexttitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  line-height: 1.4;
}
P.centertext {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* styles */
body {
  margin: 0px 0px 0px 0px;
  font-family: sans-serif;
  background-color: #F9F9F9;
}
figure {
  margin: 0px;
  width: 300px;
}
figcaption {
  padding: 10px 0px 0px 0px;
  text-align: center;
}
/* fonts */
t1 {
  font-family: Raleway, sans-serif;
  font-size: 1.75em;
  color: #494949;
}
t2 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  color: #494949;
}
/* divs */
#title {
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px;
  border-bottom-color: #E0E0E0;
  border-bottom-style: solid;
}
#centerbox {
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
#logobottom {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
