<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <title>FreeMind Webinterface</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" href="styles.css"></link>
        <link rel="shortcut icon" href="favicon.ico"></link>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
        <meta name="description" content="Wir helfen dir, deine verloren geglaubten Sachen wiederzufinden.">
        <meta name="keywords" content="wiederfinden, gefunden, fundsache, verloren, handy verloren, papiere verloren">
    </head>
    <body>
      <div id="title">
      </div>
      <div id="centerbox">
        <p class="centertexttitle">
          <t1>Let's get started!</t1>
          <br>
          <t1>Tell us what you are looking for or report something.</t1>
        </p>
        <div id="leftside">
          Hi
        </div>
        <div id="centerside">
          <p class="centertext">
            <tor>OR</tor>
          </p>
        </div>
        <div id="rightside">
          BUB
        </div>
      </div>
        <t2>Ich habe etwas verloren</t2>
        <t2>Ich habe etwas gefunden</t2>
    </body>
</html>
