/* classes */
.centertexttitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.4;
}

.centertext {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* fonts */
t1 {
  font-family: Raleway, sans-serif;
  font-size: 1.75em;
  color: #494949;
}

t2 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  color: #494949;
}

tnormhead {
  font-family: Open Sans, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  color: #494949;
}

tnorm {
  font-family: Open Sans, sans-serif;
  font-size: 1.0em;
  color: #494949;
}

tmemory {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #494949;
}

tfooter {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  color: #494949;
}

#centerbox {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: 6em;
}

#centerbox2 {
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 2em;
}

#firstlistbox {
  width: 30%;
  height: auto;
  float: left;
}

#otherlistbox {
  width: 30%;
  height: auto;
  float: left;
  margin-left: 80px;
}

#headlinebox {
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17em;
  margin-bottom: 2em;
}

#headlineboxundermem {
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27em;
  margin-bottom: 2em;
}

#mainmemorybox {
  width: 1040px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 2em;
}

#mainmemoryboxbpi {
  width: 480px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 2em;
}

#firstmemorybox {
  width: 200px;
  height: auto;
  float: left;
}

#othermemorybox {
  width: 200px;
  height: auto;
  float: left;
  margin-left: 80px;
}

#centertextboxmemory {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#picturebox {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#serveractions {
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 2em;
}
